<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>932115870207-9ea2s9v5vcltlvips9unag1q6fdht3rt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.932115870207-9ea2s9v5vcltlvips9unag1q6fdht3rt</string>
	<key>API_KEY</key>
	<string>AIzaSyAEU2_ICxQKsJSOHN5Xh7M5LRdzUHZfzY0</string>
	<key>GCM_SENDER_ID</key>
	<string>932115870207</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.newsapp.tinhay24h</string>
	<key>PROJECT_ID</key>
	<string>tin-hay-24h</string>
	<key>STORAGE_BUCKET</key>
	<string>tin-hay-24h.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:932115870207:ios:bde97ae2c9f41ea065b7ca</string>
	<key>DATABASE_URL</key>
	<string>https://tin-hay-24h.firebaseio.com</string>
</dict>
</plist>